<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% if latest_book_list %}
<a href="/craglists/">link to book lists</a>{{ a }}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for x in pages %}
    <li class="page-item"><a class="page-link" href="/craglists/search?title={{ search_text }}&page={{ x }}">{{ x }}</a></li>
  {% endfor %}
  </ul>
</nav>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  {% for book in latest_book_list %}
    <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.price }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
    <a href="/craglists/fetch">link to fetch</a>
    <p>No books are available.</p>
{% endif %}